@import "src/scss/variables";
@import "src/scss/breakpoints";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  margin: 3rem 1rem;
  @include desktop {
    margin: 3rem 8rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--first {
      font-size: 3rem;
    }
    &--second{
      font-weight: 300;
      font-size: 1.2rem;
    }
    &--btn {
      width: 9rem;
      height: 2rem;
      border-radius: 0.2rem;
      border: 2px solid #3c67e3;
      background-color: white;
      color: #3c67e3;
      font-weight: 700;
      font-size: 0.9rem;
      cursor: pointer;
      transition-duration: 0.3s;

      &:hover {
        animation: pulsate 1s;
      }
      @keyframes pulsate {
       0%{
         box-shadow:
                 0 0 15px #5ddcff,
                 0 0 30px #4e00c2;
         transform: scale(1.04);

       }
      }
    }
  }
}


.main-image {
  width: 350px;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 16px 0 rgba(0,0,0,0.75);
}

@include mobile {
  .main-image {
    width: 250px;
  }
}

