@import "src/scss/variables";
@import "src/scss/breakpoints";

.page {
  padding-bottom: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  border: 4px solid lightblue;
  border-radius: 10px;
  justify-content: center;
  margin: 4rem auto;
  width: 28rem;
  padding-bottom: 2rem;

  @include mobile {
    width: 32rem;
    margin: 6rem auto;
  }
  @include tablet{
    width: 32rem;
    margin: 6rem auto;
  }


  &-header {
    color: lightblue;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 2rem;
    text-align: center;

    @include mobile {
      font-size: 3rem;
    }
    @include tablet {
      font-size: 3rem;
    }

  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2rem;

  }
  &-label {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0.6rem 0;

    @include mobile {
      font-size: 1.4rem;
    }

    @include tablet {
      font-size: 1.4rem;
    }

  }
  &-input, &-textarea {
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 10px;
    border: 1px solid lightblue;
    resize: none;

    @include mobile {
      font-size: 1.4rem;
    }
    @include tablet {
      font-size: 1.4rem;
    }
  }

  &-textarea {
    height: 8rem;
  }
  &-btn {
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.6rem 3rem;
    color: $txt-color;
    background-color: lightblue;
    cursor: pointer;
    margin: 0.5rem auto;
    border: 1px solid lightblue;

    @include mobile {
      padding: 0.8rem 3.5rem;
    }

    @include tablet {
      padding: 0.8rem 3.5rem;
    }

    &:hover {
      color: lightblue;
      background-color: $txt-color;
      transition: 0.2s steps(11);
    }
  }

}