@import "./src/scss/breakpoints";
@import "./src/scss/variables";

.products {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem 0;
}

.hoodie {
  width: 19rem;
  height: 100%;
  max-width: 400px;
  padding: 2rem 0;

  &__img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }

  &__name {
    font-size: 1rem;
  }

  &__price {
    font-size: 0.9rem;
  }
  &__btn {
    width: 7rem;
    height: 2rem;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1rem;
    color: $txt-color;
    background-color: $main-color;
  }

}




