.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  height: 2rem;
  &__icon {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }
}